@use "./../abstracts" as *;

.main-header {
  width: 100%;
  backdrop-filter: saturate(180%) blur(20px);
  background: rgba(255, 255, 255, 0.72);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  &:after {
    content: "";
    background: rgba(0, 0, 0, 0.16);
    height: rem(1);
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: rem(8) 0;
  }

  .logo {
    width: rem(120);
    display: block;

    img {
      display: block;
      width: 100%;
    }
  }

  .nav-toggle {
    background: transparent;
    display: flex;
    width: rem(32);
    border: 0;
    padding: 0;
    cursor: pointer;

    .toggle-lines {
      stroke-linecap: square;
      height: rem(48);

      rect {
        fill: var(--orange);
      }
    }
  }

  .main-nav {
    flex: 100% 1;
    align-items: center;
    overflow: hidden;

    .nav {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      margin: 0;
    }

    .nav-link {
      display: block;
      text-decoration: none;
      color: var(--gray);
      text-align: center;
      padding: rem(8) 0;

      &:hover {
        color: var(--orange);
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 

 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 

  .main-header {
    .logo {
      width: rem(150);
    }
  }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
  .main-header {
    .container {
      flex-flow: row wrap;
      justify-content: flex-start;
    }

    .nav-toggle {
      display: none;
    }

    .main-nav {
      display: flex;
      flex-basis: auto;
      height: auto!important;

      .nav {
        flex-direction: row;
        margin-left: auto;
        gap: rem(30);
      }

    }
  }  
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

 }