@use "./../abstracts" as *;

.hero {
  height: 100vh;
  background: #000;

  .hero-wrapper {
    position: relative;
    justify-content: center;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding-top: rem(64);
  }

  .hero-img {
    background: url("/dist/images/hero.jpg") no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }

  .hero-text {
    text-align: center;
    position: relative;

    h1 {
      color: var(--white);
      font-size: vw(60);
      line-height: vw(60);
      margin-bottom: vw(25);
    }

    p {
      color: var(--white);
      max-width: vw(590);
      width: 90%;
      margin: 0 auto vw(25);
    }
  }
}

@media (min-width: 768px) {
  .hero {
    .hero-text {
      h1 {
        font-size: rem(60);
        margin-bottom: rem(25);
        line-height: rem(60);
      }
      p {
        font-size: rem(17);
        line-height: rem(26);
        margin-bottom: rem(25);
        max-width: rem(590);
      }
    }
  }
}
