@use "./../abstracts" as *;

.hero {
  height: 100vh;

  .hero-wrapper {
    position: relative;
    justify-content: center;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  .hero-img {
    background: url("/dist/images/hero.jpg") no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .hero-text {
    text-align: center;

    h1 {
      color: var(--white);
      font-size: vw(64);
      line-height: 1;
      margin-bottom: rem(15);
    }

    p {
      color: var(--white);
      width: 90%;
      max-width: rem(900);
      margin: 0 auto;
      font-size: vw(32);
    }
  }
}


@media (min-width: 768px) { 
  .hero {
    .hero-text {
      h1 {
        font-size: rem(64);
      }  
      p {
        font-size: rem(24);
      }
    }
  }
}