@use "./../abstracts" as *;

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
    background: var(--orange);
    display: flex;
    justify-content: center;
    // display: none;
  
    .preloader-logo {
      width: 80%;
      max-width: rem(500);
  
      path,
      rect {
        stroke-linecap: square;
        fill: rgba(255, 255, 255, 0);
      }
    }
  
}