:root {
    --orange: #f7901f;
    --darkOrange: #ec7e09;
    --white: #ffffff;
    --gray: rgba(0,0,0,.5);
    --lightGray: #f3f3f5;
    --darkGray: #383838;
    --ff-poppins: 'Poppins', sans-serif;
}